<div class="jumbotron text-center">
  <h1>Mi primer página web</h1>
  <p>Hecha para mis amigos</p>
</div>

<div class="container bg-dark text-white">
  <h1>Álbum de fotos</h1>
  <p>Algunos momentos memorables</p>
</div>

<div id="demo" class="carousel slide justify-content-center" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/json.jpg" alt="Vueltos aceite" width="100%" height="100%">
      <div class="carousel-caption">
        <h3>Vueltos aceite</h3>
        <p>Que tiempos aquellos que no volverán</p>
      </div>   
    </div>
    <div class="carousel-item">
        <img src="assets/ali.jpg" alt="Viendo a La Liga" width="100%" height="25%">
        <div class="carousel-caption">
          <h3>Viendo a La Liga</h3>
          <p>Ese día perdimos</p>
        </div>   
      </div>
    <div class="carousel-item">
        <img src="assets/johana.jpg" alt="En La Cali" width="1280" height="800">
        <div class="carousel-caption">
          <h3>Full HD</h3>
          <p>¡Que buena noche!</p>
        </div>   
      </div>
  </div>
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>

<h2> Currency Rates. </h2>
<h3> From Euro to the world </h3>
<pre>{{ currentEuroRates }}</pre>
